.CartCountNum {
    border: 1px solid #6a1b9a;
    padding: 0px;
    margin: auto;
    border-radius: 25px;
    height: 20px;
    width:20px;
    color: #6a1b9a;
    color: white;
    background-color: #6a1b9a;
    z-index: 449;
    text-align: center;
    vertical-align:middle;
}