.FullProductCard {
    text-align: center;
    width: 100%;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin:auto;    
    display: flex;
    flex-wrap: wrap;
    justify-items: stretch;
    justify-content: center;
}

.FullPriceTag {
    padding: 10px;
    margin: 0;
    background-color:#6a1b9a;
    color: white;
    font-weight: 400;
  }

  .FullProductImage {
      text-align: center;
      flex: 100%;
      /* height: 80%; */
      max-width: 100%;
      max-height: 80%; 
  }
  
  .FullProductLeft {
    flex: 48%;
    max-width: 38vw;
    padding: 0 10px;
    text-align: center;
    background-color: #F6F6F6;
  }

  .FullProductRigth {
    flex: 48%;
    max-width: 38vw;
    padding: 0 10px;
    margin:0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
  } 



  label {
      font-size: 1.25rem;
  }

  .ShoeNotAvailableSize {
    text-decoration: line-through;
    display: inline-flex;
    /* border: 1px solid #6a1b9a; */
    padding: 5px 10px;
    margin: 5px;
    border-radius: 25px;
    /* color: #6a1b9a; */
    background-color: white;
  }

  .ShoeAvailableSizeBtn {
      display: inline-flex;
      border: 1px solid #6a1b9a;
      padding: 5px 10px;
      margin: 5px;
      border-radius: 25px;
      color: #6a1b9a;
      cursor: pointer;
  }

  .ShoeAvailableSizeBtn:hover {
    background-color: #8e24aa ;
    border: 1px solid #8e24aa;
    color:white;
  }

  .ShoeAvailableSizeBtnActive {
    display: inline-flex;
    border: 1px solid #6a1b9a;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 25px;
    cursor: pointer;
    background-color: #6a1b9a;
    color: white;
}

.productAddedImg {
  height: 150px;
  margin: auto;
  text-align: center;
  padding: 20px 
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

@media (max-width: 657px) {
  .FullProductCard{
    display: block;
    margin: 0 auto;
  }
  .FullPriceTag, .FullProductImage , .FullProductLeft, .FullProductRigth {
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
  }
  .FullProductRigth {
    padding: 0 10px 20px;
  }
}

