.Layout {
    width: auto;  
    margin: 5em 12em; 
    text-align: center;
}

@media (max-width: 1425px) {
    .Layout {
        margin: 5em 2em;
    }
}


@media (max-width: 600px) {
    .Layout {
        margin: 5em 0 ;
    }
}



